.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%; /* Make sure the chat window takes full available height */
    border-left: 1px solid #ccc; /* Add border if needed for separation */
}

.chat-header {
    height: 6%;
    padding: 10px 20px;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

.messages-list {
    flex-grow: 1; /* Allow messages list to grow and take available space */
    overflow-y: auto; /* Make it scrollable */
    padding: 10px;
    background: #e5e5e5; /* Different background color for messages area */
}

.message {
    padding: 8px 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #fff; /* Change as needed */
}

.message-input {
    display: flex;
    padding: 10px;
    background: #f5f5f5; /* Match with header */
    border-top: 1px solid #ccc; /* If you want a separator */
}

.message-input input {
    flex-grow: 1; /* Allow input to grow */
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.message-input button {
    padding: 10px 20px;
    background-color: #46d246;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* If you want the button to stand out more */
.message-input button:hover {
    background-color: #239023;
}

.message.sent {
    background-color: #d1ffc6;
    text-align: right;
}

.message.received {
    background-color: #ffffff;
    text-align: left;
}
